:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --white: #ffffff;
  --lightslate: #8e8f99;
  --dairy: #fcfcfc;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  padding: 0;
  outline: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
  color: currentColor;
}
input {
  font-family: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* .page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
} */
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/*--------------------HEADER----------------*/
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-flex-container {
  display: flex;
  align-items: center;
}
.logo-flex-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.menu-flex {
  display: flex;
  gap: 40px;
}
.address-flex {
  display: flex;
  gap: 40px;
  align-items: center;
  font-style: normal;
}
.logo {
  padding: 24px 0;
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-span {
  color: var(--navyblue);
}
.navigation-link {
  position: relative;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover::after,
.navigation-link:focus::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}
.current {
  position: relative;
  color: var(--ocean);
}
.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}
.address-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/*--------------MAIN PAGE-HERO----------*/
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.hero {
  margin: 0 auto;
  max-width: 1440px;
  background-color: var(--navyblue);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-header {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus,
.modal-button-send:hover,
.modal-button-send:focus {
  background-color: var(--ocean);
}

/* ----------  SECTION TWO ----------------------*/
.section-two {
  padding: 120px 0;
}
.section-two-container {
  display: flex;
  gap: 24px;
}
.section-two-item {
  width: calc((100% - 72px) / 4);
}
.li-icon {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.section-two-icon {
}

.section-two-paragraph,
.section-team-paragraph,
.project-item-paragraph {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------  SECTION THREE ----------------------*/
.section-three {
  padding-bottom: 120px;
}
.three-f-container {
  display: flex;
  gap: 24px;
}
.three-item {
  width: calc((100% - 48) / 3);
}

/* -----------TEAM-----------------*/
.team {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-f-container {
  display: flex;
  gap: 24px;
}
.teammate {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.teammate-div {
  text-align: center;
  padding: 32px 0;
}
.teammate-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.teammate-item {
  width: 40px;
  height: 40px;
}
.teammate-item-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teammate-item-link:hover,
.teammate-item-link:focus {
  background-color: var(--ocean);
}
.teammate-icon {
  fill: var(--cloud);
}

/* ------------------ SECTION FIVE --------------------- */
.customers {
  padding: 120px 0;
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.customers-item {
  width: calc((100% - 24px * 5) / 6);
  height: 88px;
}
.customers-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}
.customers-icon,
.subscribe-icon {
  fill: currentColor;
}
/*--------------OTHER TEXT----------*/
.text-h-two {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.section-two-header,
.section-team-header,
.project-item-header {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/*----------------------FOOTER----------------*/
.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}
.footer-flex-container {
  display: flex;
  align-items: baseline;
}
.container-logo {
  margin-right: 120px;
  max-width: 264px;
}
.container-logo-paragraph {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-social-links {
  margin-right: 80px;
}
.container-item {
}
.footer-social-media {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-flex-list {
  display: flex;
  gap: 16px;
}
.footer-item {
  width: 40px;
  height: 40px;
}
.footer-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-link:hover,
.footer-item-link:focus {
  background-color: var(--green);
}
.footer-icon {
  fill: var(--cloud);
}
/* .footer-item-link:is(:hover, :focus) .footer-item-icon {
  fill: ;
} */

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-span {
  color: var(--cloud);
}

.container-subscribe-form {
}
.subscribe-header {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-lable-style {
}
.subscribe-input-style {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white);
}
.subscribe-input-style::placeholder {
  color: var(--white);
}
.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}
.subscribe-icon {
  margin-left: 16px;
}

/*---------- PORTFOLIO-Progects --------*/

.container-padding {
  padding: 96px 0 120px 0;
}
.container-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.filter-button {
  background-color: var(--cloud);
  color: var(--iris);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.container-projects {
  flex-wrap: wrap;
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
}
.project-item {
  flex-basis: calc((100% - 48) / 3);
  background: var(--white);
}
.project-link {
  display: block;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:is(:hover, :focus) .container-overlay-paragraph {
  transform: translateY(0%);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-overlay {
  position: relative;
  overflow: hidden;
  width: 360px;
}
.container-overlay-paragraph {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  color: var(--cloud);
  background-color: var(--iris);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.border-under-image {
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  padding: 32px 16px;
}

/*  ------------------  M O D A L   W I N D O W */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window-container {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal-window-container {
  transform: translate(-50%, -50%) scale(10);
}

.modal-button-close {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cornflower);
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .icon-close,
.modal-button-close:focus .icon-close {
  fill: var(--white);
}

.modal-button-close:hover,
.modal-button-close:focus {
  border: none;
  background-color: var(--ocean);
}

.modal-header {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-inputs-container {
  margin-bottom: 8px;
}

.labels-style {
  display: block;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: var(--lightslate);
  margin-bottom: 4px;
}

.inputs-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.inputs-style {
  width: 100%;
  height: 40px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navyblue);
}
.inputs-style:hover,
.inputs-style:focus {
  border-color: var(--iris);
}
.inputs-style:hover + .inputs-icon,
.inputs-style:focus + .inputs-icon {
  fill: var(--iris);
}
.inputs-icon:hover,
.inputs-icon:focus {
  fill: var(--iris);
}

.modal-comment-container {
  margin-bottom: 16px;
}
.comment-style {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: var(--navyblue-modal);
  border: 1px solid var(--navyblue-modal);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-style:hover,
.comment-style:focus {
  border-color: var(--iris);
}
.comment-style:hover::placeholder,
.comment-style:focus::placeholder {
  opacity: 0;
}
.comment-style::placeholder {
  color: var(--navyblue-modal);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.modal-checkbox-container {
  margin-bottom: 24px;
}
.checkbox-input {
  outline: transparent;
}
.checkbox-label-wrapper {
  /* display: flex;
  align-items: center; */
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.checkbox-input:checked + .checkbox-label-wrapper .checkbox-icon-style {
  fill: var(--cloud);
  background-color: var(--ocean);
  border: none;
}

.checkbox-icon-style {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* 
.check-text:before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid #ada8a8;
  border-radius: 50px;
  margin-right: 10px;
  transition-duration: 300ms;
}

.check-text::after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #cec9c9;
  border-radius: 50%;
  transition-duration: 300ms;
}

.modal-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.modal-check:checked + .check-text::before {
  background-color: #c1e4ba;
  border-color: #dbd7d7;
} */

.a-style {
  color: var(--iris);
  text-decoration: underline;
}
.modal-button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
